.markmap-node {
  cursor: pointer;
}

.markmap-node-circle {
  fill: #fff;
  stroke-width: 1.5px;
}

.markmap-node-text {
  fill: #000;
  font: 12.7px Linux Libertine; /* sans-serif */
}

.markmap-link {
  fill: none;
}

svg#mindmap,
svg#mindmap2 {
  background-color: white;
}
